<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sankati_FacultyFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEB7132B1C8A09A2005840AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB7133F1C8A09A2005840AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB7134A1C8A09A2005840AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
